html {
  font-size: 20px;
  overflow-x: hidden; }

body {
  width: 100%;
  margin: 50px 0 0;
  padding: 0;
  background-color: #F44336;
  color: whitesmoke;
  font-family: 'Alegreya Sans', sans-serif; }

*, *:before, *:after {
  box-sizing: border-box; }

h1, h3 {
  font-family: 'Martel', serif;
  font-weight: 300;
  margin: 0;
  padding: 0; }

h2 {
  font-weight: 300;
  font-family: 'Alegreya Sans', sans-serif;
  margin: 0;
  padding: 0; }

p {
  font-weight: 700;
  font-family: 'Alegreya Sans', sans-serif; }

.header-bar {
  position: fixed;
  font-size: 0.8em;
  top: 13px;
  right: 5%; }
  .header-bar p {
    font-size: 1em;
    margin: 0px;
    padding: 0px; }
  .header-bar ul {
    list-style-type: none; }
    .header-bar ul li {
      font-size: 0.9em;
      float: left;
      display: inline-block; }
      .header-bar ul li a {
        text-decoration: none;
        color: whitesmoke;
        margin-left: 20px; }

#name-sel {
  color: lightgoldenrodyellow; }

[class*='button-'] {
  height: 30px;
  width: 90px;
  text-align: center;
  padding: 3px 0px 5px;
  background-color: darkgray;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 1px 1px 0px 0px #eee;
  position: relative;
  top: 0px;
  left: 0px;
  transition: 300ms ease-in-out; }
  [class*='button-']:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px #eee;
    top: 1px;
    left: 1px; }

.button-clear {
  background-color: slategray; }

.header-anchor {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  width: 80%;
  text-align: center;
  margin: 0 auto 20px; }

.container {
  width: 90%;
  height: 115vh;
  display: block;
  text-align: center;
  margin: 0 auto; }

.form {
  width: 600px;
  margin: 0 auto; }
  .form p {
    text-align: left;
    display: inline-block;
    width: 40%;
    margin: 0px; }
  .form input {
    width: 30%;
    left: 10%;
    position: relative;
    display: inline-block;
    background-color: #E57373; }
  .form .sub {
    font-size: 0.7em;
    width: 40%;
    left: 15%;
    text-align: left;
    position: relative;
    display: block;
    margin-bottom: 30px;
    padding-top: 10px; }

.results {
  margin: 20px auto 0px;
  width: 80%;
  display: inline-block; }
  .results div {
    margin: 0;
    padding: 0;
    position: relative;
    width: 32%;
    display: inline-block;
    height: 200px; }
    .results div p {
      position: relative;
      display: inline-block;
      text-align: center;
      font-size: 2em;
      border-bottom: 1px solid white; }
    .results div:nth-of-type(1) {
      background-color: #66BB6A; }
    .results div:nth-of-type(2) {
      background-color: #C0CA33; }
    .results div:nth-of-type(3) {
      background-color: #E53935; }

@media (max-width: 600px) {
  html {
    font-size: 0.95em; }

  .form {
    width: auto; }

  #cScore, #absenceNumber, #remHW {
    text-align: center; }

  .results div {
    height: 80px; }
    .results div p {
      font-size: 1em; }

  [class*='button-'] {
    margin-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */
